<!DOCTYPE HTML>
<html lang="pt_br">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" type="text/css" href="css/reset.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <title>Feira - Tancredo Neves</title>

</head>

<body>
  <header>
    <div class="wrapper">
      <h1>Feira - Tancredo Neves</h1>
      <audio autoplay loop>
        <source src="musics/music1.mp3" type="audio/mp3">
        Seu navegador não suporta a TAG audio.
      </audio>
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#image-principal">Foto</a></li>
          <li><a href="#depoimentos">Depoimentos</a></li>
          <li><a href="#conteudo-principal">Artigos</a></li>
        </ul>
      </nav>
    </div>
  </header>
 
  <section id="image-principal">
    <div class="wrapper">
      <h2><strong>Variedades é aqui!</strong><br />
      </h2>
    </div>
  </section>

  <section id="depoimentos">
    <div class="wrapper">
      <h3 id="titulo-h3">Depoimentos</h3>
      <ul>
        <li class="depoimento-1">
          <h4>Francisco Antonio</h4>
          <p>"Uma feira muito boa. Preço e qualidade é aqui com certeza!</p>
        </li>
        <li class="depoimento-2">
          <h4>Maria Tereza</h4>
          <p>"Vender algo de qualidade e ver a sastifação do cliente é algo maravilhoso."</p>

        </li>
        <li class="depoimento-3">
          <h4>Renata Silva</h4>
          <p>"Venho a feira desde cedo, e a qualidade sempre foi melhor do que os outros lugares."</p>
        </li>
        <div class="clear"></div>
      </ul>
    </div>
  </section>
  <section id="conteudo-principal">
    <div class="wrapper">
      <article>
        <h3>Sobre</h3>
        <p>Venha conferir a feira do Tancredo Neves, acontece toda quinta-feira.</p>
        <p>Rua Ubaia, 21 - Jardim Das Oliveiras, Fortaleza - CE, 60820-330 </p>
      </article>
      <article>
        <h3>Feirantes</h3>
          <div class="feirantes"> 
            <img src="../images/feirante-1.png" width="200" height="400" alt="Screen 2"> 
            <p>Bernardo dos Campos<br>68 anos</p> 
           </div> 
           <div class="feirantes"> 
            <img src="../images/feirante-2.png" width="200" height="400" alt="Screen 2"> 
            <p>Gustavo Barros<br>27 anos</p> 
           </div>
           <div class="feirantes"> 
            <img src="../images/feirante-3.png" width="200" height="400" alt="Screen 2"> 
            <p>Manuela Batista<br>55 anos</p> 
           </div> 
      </article>
      <article>
        <h4>Produtos Vendidos</h4>
        <table>
          <th>Produto</th>
          <th>Valor</th>
          <tr>
            <td>Banana Prata</td>
            <td>
              <ol>
                <li>Quantidade: 10 unidades</li>
                <li>Preço: R$ 4,00</li>
              </ol>
            </td>
          </tr>
          <tr>
            <td>Tomate</td>
            <td>
              <ol>
                <li>Quantidade: 5 unidades</li>
                <li>Preço: R$ 5,00</li>
              </ol>
            </td>
          </tr>
          <tr>
            <td>Feijão Verde</td>
            <td>
              <ol>
                <li>Quantidade: 500 gramas</li>
                <li>Preço: R$ 6,00</li>
              </ol>
            </td>
          </tr>
          <tr>
            <td>Quiabo</td>
            <td>
              <ol>
                <li>Quantidade: 10 unidades</li>
                <li>Preço: R$ 4,00</li>
              </ol>
            </td>
          </tr>
          <tr>
            <td>Jogo de PS2</td>
            <td>
              <ol>
                <li>Quantidade: 1 unidade</li>
                <li>Preço: R$ 2,50</li>
              </ol> 
            </td>
          </tr>
          <tr>
            <td>Cajá</td>
            <td>
              <ol>
                <li>Quantidade: 200 gramas</li>
                <li>Preço: R$ 2,00</li>
              </ol> 
            </td>
          </tr>
          <tr>
            <td>Carnes</td>
            <td>
              <ol>
                <li>Quantidade: Variado</li>
                <li>Preço: Variado</li>
              </ol> 
            </td>
          </tr>
          <tr>
            <td>Peixes</td>
            <td>
              <ol>
                <li>Quantidade: Variado</li>
                <li>Preço: Variado</li>
              </ol> 
            </td>
          </tr>
          <tr>
            <td>Laranja</td>
            <td>
              <ol>
                <li>Quantidade: 12 unidades</li>
                <li>Preço: R$ 5,00</li>
              </ol> 
            </td>
          </tr>
        </table>
      </article>
      <div class="clear"></div>
    </div>
  </section>

  <footer>
    <div class="wrapper">
      <section id="info-rodape">
        <p>Copyright 2023. All rights reserved.</p>
      </section>
      <section id="links-rodape">
        <ul>
          <li>
            <h5>Links</h5>
          </li>
          <li><a href="https://www.uni7.edu.br/">Uni7</a></li>
          <li><a href="https://www.fortaleza.ce.gov.br/">Prefeitura de Fortaleza</a></li>
          <li><a href="https://github.com/SrLazaro/sm-vf">GitHub</a></li>
        </ul>
      </section>
    </div>
  </footer>
</body>

</html>